@model Ex1.Models.Person

<body>
    <section>
        <header>
            Heyo
        </header>
        @using (Html.BeginForm())
        {
            <p>
                @Html.LabelFor(x => x.Name)
                @Html.EditorFor(x => x.Name)
                @Html.ValidationMessageFor(x => x.Name)
            </p>

            <p>
                @Html.LabelFor(x => x.Birthday)
                @Html.EditorFor(x => x.Birthday)
                @Html.ValidationMessageFor(x => x.Birthday)
            </p>

            <p>
                @Html.LabelFor(x => x.Email)
                @Html.EditorFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.Email)
            </p>

            <p>
                @Html.LabelFor(x => x.Phone)
                @Html.EditorFor(x => x.Phone)
                @Html.ValidationMessageFor(x => x.Phone)
            </p>

            <input type="submit" name="Submit" value="Save" />
        }
    </section>
</body>